/* General */
html, body {
    background-color: rgb(84, 130, 165);
    color: rgb(24, 38, 58);
    margin: 0px;
    height: 100%;
    width: 100%;
}
.banner {
    font-size: 84px;
    text-align: center;
}

.btn {
    border-radius: 5px;
    background-color: rgb(84, 130, 165);
    color: white;
    width: 130px;
    height: 40px;
    margin-top: 20px;
    font-size: 24px;
}

.input {
    height: 30px;
    width: 80%;
    font-size: 24px;
}

.header-sm {
    font-size: 36px;
    color: white;
}

/* Modal, gamestartup */

.modal {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    overflow: auto;
}

.modal-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    background-color: grey;
    padding: 10px;
    margin: auto;
    margin-top: 200px;
    align-items: center;
}


.ship-grid {
    display:flex;
    flex-direction: column;
    justify-content:center;
    background-color: grey;
    padding: 10px;
    width: 600px;
    margin:auto;
}

.rotate-btn {
    margin: auto;
    width: auto;
}


/* Game board */
.game-space {
    display: flex;
    width: 100%;
    justify-content: center;
}

.player-header {
    font-size: 48px;
    text-align:center;
    margin-bottom: 10px;
}
.game-board {
    /* 10x10 grid */
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.game-board-row {
    display: flex;
    width: 100%;
}

.game-board-tile {
    width: 50px;
    height: 50px;
    background-color: rgb(169, 245, 255);
    border: 2px solid black;
}

.highlighted {
    background-color: blue;
}

.invalid {
    background-color: red;
}

.occupied {
    background-color: red;
}
.game-board-tile:hover{
    background-color:rgb(124, 180, 187)
}

/* Game pieces */

.ship {
    display: flex;
}

/* Mobile view */
@media (max-width:800px) {
    .game-space {
        flex-direction: column;
    }

    .game-board {
        margin: auto;
    }

    .modal {
        position: fixed;
        width: 100%;
        height: auto;
        bottom: 0px;
        background-color: rgba(0,0,0,0.7);
        display: none;
        overflow:auto;
    }
}